footer.bg-black.text-center.py-5
    .container.px-5
        .text-white-50.small
            .mb-2 &copy; PawPaw 2022. All Rights Reserved.
            //- a(href='#!') Privacy & Policy
            //- span.mx-1 &middot;
            //- a(href='#!') Terms & Conditions