section#download.bg-gradient-primary-to-secondary
    .container.px-5
        h2.text-center.text-white.font-alt.mb-4 App coming soon!
        .d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center
            a.me-lg-3.mb-4.mb-lg-0(href='#!')
                img.app-badge(src='assets/img/google-play-badge.svg', alt='...')
            a(href='#!')
                img.app-badge(src='assets/img/app-store-badge.svg', alt='...')